:root {
    --theme-color: #23ADE5;
    --bg-color: #FFFFFF;
    --toggle-color: rgba(130, 130, 130, .6);
    --button-color: #EEEEEE;
    --button-active-color: #FFFFFF;
    --font-color: #000000;
    --loading-gray: #EBEBEB;
    --overlay-bg-color: rgba(0, 0, 0, .4);
    --settings-item-hover: rgba(31, 31, 31, .3);
    --overlay-settings:rgba(255,255,255,.5)
}
* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

input[type=checkbox] {
    display: none;
}

html,
body {
    display: flex;
    flex-flow: column nowrap;
    margin: 0;
    font-family: "Noto Sans SC", sans-serif;
    height: 100vh;
    overflow: hidden;
    background-color: var(--bg-color);
}

body > * {
    flex-shrink: 0;
}

.title-bar {
    position: relative;
    top: 0;
    margin-bottom: calc(30px + 2vh);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    height: 7vh;
    min-height: 100px;
    max-height: 200px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
}


.title-bar-logo {
    text-align: center;
    z-index: 1;
    height: 65%;
    transition: transform .6s ease-out;
}


.title-bar-logo > svg {
    height: 100%;
    fill: var(--theme-color);
}



.title-bar:hover > .title-bar-logo {
    transform: translateX(-60%);
    transition: transform .3s ease-out;
}

.title-bar-text {
    color: #23ADE5;
    font-family: "Noto Sans SC", sans-serif;
    font-weight: bold;
    font-size: calc(16px + 1.5vh);
    white-space: nowrap;
    position: absolute;
    left: 50%;
    opacity: 0;
    transition: transform .6s ease-out, opacity .4s ease-out;
    user-select: none;
    transform: translateX(-20%);
}

.title-bar:hover > .title-bar-text, .title-bar:active > .title-bar-text, .title-bar:focus > .title-bar-text {
    opacity: 1;
    transform: translateX(0);
    transition: transform .3s ease-out, opacity .2s ease-out .1s;
}

.creator-info {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 0 10vw;
    margin-bottom: calc(20px + 1vh);
}

.creator-avatar {
    border-radius: 50%;
    height: calc(160px + 10vh);
    width: calc(160px + 10vh);
    border: rgba(0, 0, 0, .5) 2px solid;
    flex: none;
    overflow: hidden;
    background: transparent;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.creator-avatar > img {
    height: 105%;
    width: 105%;
}

.creator-avatar > img:before {
    content: "";
    display: block;
    height: 200%;
    width: 200%;
}


.flex-gap {
    flex-basis: 3vw;
}

.creator-nickname {
    font-family: "Noto Sans SC", sans-serif;
    font-size: calc(24px + 5vw);
    font-weight: 700;
    color: var(--font-color);
}

.subs-counter {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    cursor: default;
    user-select: none;
}

.subs-counter > span {
    font-size: 12vw;
    font-weight: 700;
    min-height: 80px;
    color: var(--font-color);
}

.creator-avatar > img[src=""], .creator-nickname:empty, .subs-counter > span.loading {
    background-color: var(--loading-gray);
    background: linear-gradient(
            110deg,
            rgba(255, 255, 255, 0) 42%,
            rgba(255, 255, 255, .4) 50%,
            rgba(255, 255, 255, 0) 58%
    ) var(--loading-gray);
    background-size: 140% 100%;
    background-position-x: 220%;
    animation: 1.5s loading ease-in-out infinite;
    border-radius: 4px;
}

.creator-avatar > img[src=""] {
    min-height: 110%;
    min-width: 110%;
}

.creator-nickname:empty {
    margin-top: 2vh;
    height: 8vh;
    min-width: 20vw;
}

.subs-counter > span.loading {
    height: 12vw;
    min-width: 80vw;
    overflow: hidden;
}

.subs-counter > span.loading:before {
    content: "";
    height: 100%;
    width: 100%;
    display: block;
}

.overlay, .overlay * {
    user-select: none;
}

.overlay {
    z-index: 10;
    height: 100%;
    width: 100%;
    position: fixed;
    display: flex;
    flex-flow: column;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--overlay-bg-color);
    backdrop-filter: blur(15px);
    opacity: 1;
    transition: backdrop-filter .3s ease-out, opacity .3s ease-out, height .0s linear;
    justify-content: center;
    align-items: center;
}

#overlayCB:checked ~ .overlay{
    backdrop-filter: blur(0);
    opacity: 0;
    height: 0;
    transition: backdrop-filter .3s ease-out, opacity .3s ease-out, height .0s linear .3s;
}

.overlay-copyright {
    position: absolute;
    right: 0;
    bottom: 0;
    color: var(--font-color);
    padding: 10px 20px;
}

.overlay-title {
    color: var(--font-color);
    font-size: calc(16px + 3vw);
    font-family: "Noto Sans SC", sans-serif;
    font-weight: bold;
    margin-bottom: 3vh;
}

.overlay-settings {
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    max-height: 60%;
    min-width: 350px;
    width: 40%;
    background: var(--overlay-settings);
    border-radius: 1rem;
    padding: 1rem;
    color: var(--font-color);
    transition: all .2s ease-out;
}

#overlayCB:checked ~ .overlay > .overlay-settings{
    transform: scale(0.3);
    opacity: 0;
    transition: all .2s ease-out;
}

.overlay-settings hr {
    border: none;
    border-bottom: var(--font-color) 1px solid;
    height: 1px;
    width: 100%
}


.settings-header {
    position: sticky;
    top: 0;

}

.settings-header > hr {
    margin-bottom: 0 !important;
}

.settings-title {
    text-align: center;
    font-size: calc(10px + 1vh + 1vw);
    font-weight: 500;
}

.settings-body {
    display: flex;
    flex-flow: column nowrap;
    overflow-y: scroll;
    overflow-x: hidden;
    flex-grow: 1;
    padding: 0.3rem 0;
}

.settings-body::-webkit-scrollbar {
    display: none;
}


.settings-item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 10px;
    width: 100%;
    color: var(--font-color);
}

.settings-item:hover, .settings-btn:hover {
    background: var(--settings-item-hover);
}

.settings-item:hover {
    border-radius: 5px;
}

.settings-switch {
    justify-content: space-between;
}

.settings-switch > label {
    font-size: 1.3rem;
    font-weight: 500;
    flex-shrink: 0;
}

.toggle {
    display: inline-flex;
    align-items: center;
}

.settings-toggle ~ .toggle-status:before {
    content: "关";
    display: block;
    font-size: 18px;
    line-height: 28px;
    vertical-align: top;
    font-weight: 300;
    opacity: 0.6;
    transition: opacity 0.25s;
}

.settings-toggle:checked ~ .toggle-status:before {
    content: "开";
    opacity: 0.9;

}

.settings-toggle + label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    outline: none;
    padding: 2px;
    width: 52px;
    height: 30px;
    background-color: var(--toggle-color);
    border-radius: 18px;
    transition: background 0.25s;
    margin: 2px 10px;
    overflow: hidden;
}

.settings-toggle + label:before,
.settings-toggle + label:after {
    display: block;
    position: absolute;
    content: "";
}

.settings-toggle + label:before {
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    background-color: var(--toggle-color);
    border-radius: 24px;
    transition: background 0.25s;
}

.settings-toggle + label:after {
    top: 4px;
    left: 4px;
    bottom: 4px;
    width: 30px;
    background-color: var(--button-color);
    border-radius: 36px;
    transition: margin 0.25s, background 0.25s;
}

.settings-toggle:checked + label {
    background-color: var(--theme-color);
}

.settings-toggle:checked + label:before {
    background-color: #1565C0;
}

.settings-toggle:checked + label:after {
    margin-left: 14px;
    background-color: var(--button-active-color);
}

.settings-toggle:checked ~ .toggle-off,
.settings-toggle:not(:checked) ~ .toggle-on {
    opacity: 0;
}

.settings-toggle:checked ~ .toggle-on,
.settings-toggle:not(:checked) ~ .toggle-off {
    opacity: 0.5;
}

.settings-toggle:checked ~ .toggle-on {
    opacity: 0.9;
}

.settings-footer {
    display: flex;
    position: sticky;
    bottom: 0;
    flex-flow: column nowrap;
    align-items: center;
}

.settings-footer > hr {
    margin-top: 0 !important;
}

.settings-redirect {
    justify-content: space-between;
    cursor: pointer;
}

.settings-redirect:after {
    content: "";
    border-top: var(--font-color) 2px solid;
    border-right: var(--font-color) 2px solid;
    border-radius: 2px;
    display: block;
    height: 0.6rem;
    width: 0.6rem;
    transform: rotate(45deg);
}

.settings-btn {
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
    font-weight: 500;
    font-size: 1.1rem;
    padding: 2px 20px 3px;
    text-align: center;
    cursor: pointer;
    border: var(--font-color) 1px solid;
    border-radius: 12px;
    max-width: 180px;
    min-width: 90px;
    margin: 10px 0;
}

.no-motion {
    transition: none !important;
}


@keyframes loading {
    to {
        background-position-x: -120%;
    }
}

@media screen and (max-width: 376px) {
    .title-bar {
        height: 75px;
    }

    .title-bar-logo {
        height: 50%;
    }

    .title-bar:hover > .title-bar-logo {
        transform: translateX(-85%);
    }

    .title-bar-text {
        left: 43%;
    }
}


@media screen and (orientation: portrait) {
    .creator-info {
        padding: 1vh 0;
        flex-direction: column;
    }

    .flex-gap {
        flex-basis: 1vh;
    }

    .creator-nickname {
        font-size: calc(16px + 8vw);
    }

    .creator-nickname:empty {
        min-width: 60vw;
    }
}


@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #000000;
        --font-color: #FFFFFF;
        --loading-gray: #232323;
        --toggle-color: #212121;
        --button-color: #757575;
        --button-active-color: #E0E0E0;
        --overlay-bg-color: rgba(0, 0, 0, .4);
        --settings-item-hover: rgba(171, 171, 171, .3);
        --overlay-settings:rgba(100,100,100,.4)
    }

    .title-bar {
        box-shadow: 0 3px 6px rgba(255, 255, 255, .16), 0 3px 6px rgba(255, 255, 255, 0.23);
    }

    .creator-avatar {
        border: 2px solid rgba(255, 255, 255, .3);
        filter: brightness(80%);
    }
}