@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: bold;
    src: local("Open Sans"), local("OpenSans-Normal"),
    url("//lib.baomitu.com/fonts/open-sans/open-sans-regular.ttf") format("truetype")
}

@font-face {
    font-family: "Noto Sans SC";
    font-style: normal;
    src: local("Noto Sans SC"), local("NotoSans SC-Normal"),
    url("//lib.baomitu.com/fonts/noto-sans-sc/noto-sans-sc-regular.ttf") format("truetype")
}

html,
body {
    display: flex;
    flex-flow: column nowrap;
    margin: 0;
    font-family: "Noto Sans SC", sans-serif;
    height: 100vh;
    overflow: hidden;
    background-color: #FFFFFF;
}

.title-bar {
    position: relative;
    top: 0;
    margin-bottom: 2vh;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    height: 7vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
}

.title-bar-logo {
    text-align: center;
    z-index: 1;
    height: 65%;
    transition: transform .3s ease-out;
}

.title-bar-logo > svg {
    height: 100%;
    fill: #23ADE5;
}

.title-bar:hover > .title-bar-logo {
    transform: translateX(-80%);
}

.title-bar-text {
    color: #23ADE5;
    font-family: "Noto Sans SC", sans-serif;
    font-weight: bold;
    font-size: 2vh;
    white-space: nowrap;
    position: absolute;
    left: 47%;
    opacity: 0;
    transition: opacity .3s ease-out;
    user-select: none;
}

.title-bar:hover > .title-bar-text {
    opacity: 1;
}

.creator-info {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 0 10vw;
    margin-bottom: 3vh;
}

.creator-avatar {
    border-radius: 50%;
    height: 12vh;
    width: 12vh;
    border: rgba(0, 0, 0, .5) 2px solid;
    flex: none;
    overflow: hidden;
    background: transparent;
    flex-shrink: 0;
}

.creator-avatar > img {
    height: 105%;
    width: 105%;
}

.flex-gap {
    flex-basis: 3vw;
}

.creator-nickname {
    font-family: "Noto Sans SC", sans-serif;
    font-size: 4vh;
    font-weight: 700;
    color: #000000;
}


.subs-counter {
    border: black 1px solid;
    height: 20vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.subs-counter > span {
    font-family: "Open Sans", sans-serif;
    font-size: 6rem;
    font-weight: 700;
}


@media screen and (orientation: portrait) {
    .creator-info {
        padding: 1vh 0;
        flex-direction: column;
    }

    .flex-gap {
        flex-basis: 1vh;
    }
}


@media (prefers-color-scheme: dark) {
    html,
    body {
        background: black;
    }

    .title-bar {
        box-shadow: 0 3px 6px rgba(255, 255, 255, .16), 0 3px 6px rgba(255, 255, 255, 0.23);
    }

    .creator-avatar {
        border: 2px solid rgba(255, 255, 255, .5);
        filter: brightness(80%);
    }

    .creator-nickname, .subs-counter {
        color: #FFFFFF;
    }

}