.custom-main-color {
    background-color: #23ade5;
}

.container {
    padding-top: 1.6rem;
}

#toolbar .mdui-typo-title{
    color: white;
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
}

#toolbar .mdui-typo-title>svg {
    padding-right: 0.3rem;
    height: auto;
    width: 60px;
    fill: #FFFFFF;
    overflow: hidden;
}


.UID {
    display: flex;
    flex-direction: column;
}

.arow {
    width: 100%;
    height: fit-content;
}

#IDfield {
    width: 80%;
}

#textfield {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}